[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.1"
sqllite3tools1 = "==0.0.7"
pytest = "==7.2.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
